---
Checks: >
  readability-*,
  performance-*,
  portability-*,
  bugprone-*,
  modernize-*,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -readability-isolate-declaration,
  -bugprone-sizeof-expression,
FormatStyle: none
