:not(pre)>code {
  transition: box-shadow 0.3s ease;

  border-radius: 4px !important;
  background-color: #71bef122 !important;
  box-shadow: 0 0 4px #0002;
}

:not(pre)>code:hover {
  box-shadow: 0 0 6px #0003;
}

pre>code {
  border-radius: 0 !important;
  background-color: transparent !important;
}

pre {
  position: relative;

  overflow: hidden;

  transition: box-shadow 0.3s ease 0.2s;

  border-radius: 8px;
  background-color: transparent;
  box-shadow: 2px 2px 8px #b0f3;
}

pre:hover {
  transition: box-shadow 0.3s ease;

  box-shadow: 2px 2px 10px #b0f5;
}

pre::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: '';
  transition: opacity 0.3s ease 0.2s;
  pointer-events: none;

  opacity: 0.067;
  background: linear-gradient(135deg, #f6d365 0%, #fd85ac 100%) !important;
}

pre:hover::before {
  transition: opacity 0.3s ease;

  opacity: 0.2;
}

.highlight span.c,
.highlight span.c1 {
  color: #a6afbe;

  font-style: italic;
}

.highlight span.k,
/* keyword */
.highlight span.kd,
/* keyword declaration */
.highlight span.kn,
/* keyword namespace */
.highlight span.kp,
/* keyword preprocessor */
.highlight span.kr,
/* keyword reserved */
.highlight span.kt
/* keyword type */
  {
  color: #c678dd;
}

.highlight span.n,
.highlight span.nx {
  color: #ef596b;
}

.highlight span.nf,
.highlight span.fm {
  color: #61afef;
}

.highlight span.nc,
/* name class */
.highlight span.nt
/* name type */
  {
  color: #e5c07b;
}

.highlight span.na {
  color: #e478a5;
}

.highlight span.no {
  color: #e4a468;

  font-weight: bold;
}

.highlight span.s,
/* string */
.highlight span.s1,
/* WTF */
.highlight span.s2,
/* WTF */
.highlight span.sb,
/* WTF */
.highlight span.sc,
/* string char */
.highlight span.si,
/* WTF */
.highlight span.ss
/* string */
  {
  color: #98c379;
}

.highlight span.il,
/* literal */
.highlight span.m,
/* number */
.highlight span.mb,
/* number binary */
.highlight span.mf,
/* number float */
.highlight span.mh,
/* number hex */
.highlight span.mi,
/* number integer */
.highlight span.mo
/* number octal */
  {
  color: #d19a66;
}

.highlight span.o {
  color: #56b6c2;
}

.highlight span.cs {
  color: #a2c256;

  font-style: italic;
}

.highlight span.cp,
.highlight span.gp {
  color: #6361ef;
}

.highlight span.go {
  color: #5c6370;
  background-color: #0002;
}

.highlight span.p {
  color: #468092
}

/* 变量名下划线 */

.highlight span.n {
  position: relative;

  overflow: visible;
}

.highlight span.n::after {
  position: absolute;
  bottom: 0px;
  left: 0;

  width: 100%;
  height: 1px;

  content: '';
  transition: width 0.3s ease;

  opacity: 0.75;
  background-color: #e478a5;
}
